<p class="mb-5">
  Storie di Draghi e Cavalieri ma anche storie di piccoli Goblin irritanti e maghi incapaci… Storie di Fantasia e Sogni. Spunti di interpretazione, mostri e vite di personaggi Unici.
</p>

<p class="mb-5">
  Benvenuti a Sotterranei e Dragoni! Un podcast su Dungeons & Dragons o DnD per gli Amici!
  Un podcast veloce, immediato con pillole sul gioco di ruolo, sui racconti e sulla magia di riunirsi attorno ad un tavolo!
  In ogni stagione troverete un grande racconto, diviso per episodi, a cui non mancheranno chicche descrittive per aiutare a comprendere al meglio le dinamiche di interpretazione, avere spunti per vivere e creare al meglio le proprie avventure, da condividere assieme agli amici!
  
</p>

<p class="mb-5">
  Questo podcast fa parte dell'universo di VOIS. Per scoprire di più, segui 
  su Instagram o visita il sito <a href="https://vois.fm" target="_blank" rel="noopener noreferrer">https://vois.fm</a>.
</p>

